<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('./assets/finance2.jpg');">
        <div class="filter"></div>
        <div class="content-center">
          <div class="container">
              <div class="title-brand">
                  <h4 class="presentation-title">Dịch vụ thanh toán tự động</h4>
              </div>
              <h2 class="presentation-subtitle text-center">
                  <button type="button" class="btn btn-lg btn-outline-info btn-round" routerLink="/signin">
                      Tạo tài khoản
                  </button>
              </h2>
          </div>
      </div>
    </div>
    
    <div class="section text-center">
        <div class="container">
            <h2 class="title">Các gói dịch vụ</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <mat-icon class="card-icon">emoji_events</mat-icon>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Free</h4>
                                    <h6 class="card-category">Thường</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Dùng số điện thoại của hệ thống để nhận tiền. Rút tiền nhanh chóng. 
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-lg btn-info btn-round" routerLink="/signin">
                                Tạo tài khoản
                            </button>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <mat-icon class="card-icon">account_balance</mat-icon>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">300,000</h4>
                                    <h6 class="card-category">Vip</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Dùng tài khoản của bạn để nhận tiền. Tích hợp được 1 tài khoản. Đăng nhập, thay đổi tài khoản, xem lịch sử giao dịch dễ dàng ngay tại website. API chuyển tiền tự động. 
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-lg btn-info btn-round" routerLink="/signin">
                                Tạo tài khoản
                            </button>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <mat-icon class="card-icon">hotel_class</mat-icon>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">500,000</h4>
                                    <h6 class="card-category">Cao cấp</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Dùng tài khoản của bạn để nhận tiền. Tích hợp được 2 tài khoản. Đăng nhập, thay đổi tài khoản, xem lịch sử giao dịch dễ dàng ngay tại website. API chuyển tiền tự động. 
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-lg btn-info btn-round" routerLink="/signin">
                                Tạo tài khoản
                            </button>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Tại sao chọn chúng tôi?</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <mat-icon class="card-icon">attach_money</mat-icon>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">AUTO Payment là gì ?</h4>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                MOMO AUTO là công cụ giúp các đơn vị cung cấp dịch vụ website, ứng dụng, game tích hợp thanh toán ví điện tử momo một cách tự động, nhanh chóng, kiểm tra giao dịch qua API !
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <mat-icon class="card-icon">local_mall</mat-icon>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Không cần xét duyệt từ MOMO</h4>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Bạn không cần phải chờ đợi xét duyệt từ phía MOMO, không cần cung cấp giấy phép ĐKKD, chứng minh giao dịch phát sinh.....
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <mat-icon class="card-icon">offline_bolt</mat-icon>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Tích hợp trong 1 nốt nhạc</h4>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Với cách thức tích hợp đơn giản, trang bị sẵn source cho mọi đối tượng khách hàng. Bạn chỉ cần đăng ký tài khoản, và bắt đầu tích hợp API!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <mat-icon class="card-icon">dashboard_customize</mat-icon>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Trình Quản Lý Đặc Biệt</h4>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Kiểm soát tất cả các tính năng từ bảng điều khiển với một nút bấm. Dễ dàng sử dụng và quản lý.
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <mat-icon class="card-icon">equalizer</mat-icon>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Thống Kê Chi Tiết</h4>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Thống kê chi tiết hàng ngày, hàng tháng, xem mức độ phát triển, phát hiện người dùng thường xuyên,tiềm năng của bạn.
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <mat-icon class="card-icon">api</mat-icon>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">API</h4>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                API hoạt động nhanh chóng, trả kết quả đầy đủ liên quan đến giao dịch không quá 2phút. Bạn sẽ không còn phải ngồi kiểm tra giao dịch bằng tay, không cần yêu cầu khách hàng cung cấp thông tin khi chuyển tiền.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <mat-icon class="card-icon">savings</mat-icon>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Tiết kiệm chi phí</h4>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                So sánh với các dịch vụ thanh toán qua ngân hàng, thẻ cào, MOMO AUTO rẻ hơn rất nhiều lần. Bạn cũng không còn vất vả khi kiểm tra giao dịch và thực hiện thủ công các hành động sau khi kiểm tra thành công.
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <mat-icon class="card-icon">monetization_on</mat-icon>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Thanh Toán Tối Thiểu Thấp</h4>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Bạn sẽ được thanh toán khi tài khoản đủ 200,000đ hoặc hơn. Chúng tôi sẽ thanh toán ngay qua tài khoản Ngân hàng hoặc tài khoản MOMO của bạn.
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <mat-icon class="card-icon">support_agent</mat-icon>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Hỗ trợ</h4>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Một nhóm hỗ trợ chuyên dụng sẵn sàng trợ giúp bất cứ câu hỏi nào bạn có. Giải quyết mọi sự cố phát sinh, mọi vấn đề liên quan....
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">LIÊN HỆ NGAY</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <mat-icon class="card-icon">message</mat-icon>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Message</h4>
                                    <h6 class="card-category">.../</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <mat-icon class="card-icon">voice_chat</mat-icon>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Zalo</h4>
                                    <h6 class="card-category">0909000000</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <mat-icon class="card-icon">local_phone</mat-icon>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Hot line</h4>
                                    <h6 class="card-category">0909000000</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>